<%- include('partials/header') -%>

<main class="mt-10">
    <div class="mt-5 px-4 gap-5 grid grid-rows-2 grid-flow-col md:grid-rows-1 md:grid-cols-4 md:grid-flow-row
    lg:grid-cols-6">
        <a class="w-full md:col-start-2 lg:col-start-3" href="/login"><button type="button" class="w-full py-2.5 px-5 text-sm font-medium text-light-main bg-primary-light rounded-lg hover:text-heading-light focus:z-10 dark:bg-primary dark:text-dark-main dark:hover:text-light-main">Login</button></a>
        <a class="w-full" href="/signup"><button type="button" class="w-full py-2.5 px-5 text-sm font-medium text-light-main bg-primary-light rounded-lg hover:text-heading-light focus:z-10 dark:bg-primary dark:text-dark-main dark:hover:text-light-main">Signup</button></a>
    </div>
    <div class="mt-5 px-4 flex justify-center">
        <a class="w-full md:w-1/2 lg:w-1/3" href="/demo"><button type="button" class="w-full py-2.5 px-5 text-sm font-medium text-light-main bg-primary-light rounded-lg hover:text-heading-light focus:z-10 dark:bg-primary dark:text-dark-main dark:hover:text-light-main">Demo</button></a>
    </div>
</main>
    

<%- include('partials/footer') -%>