<%- include('partials/header') -%>

<main class="mt-10">
    <div class="mt-5 px-4 gap-5 grid grid-rows-2 grid-flow-col md:grid-rows-1 md:grid-cols-4 md:grid-flow-row
    lg:grid-cols-6">
        <a class="w-full md:col-start-2 lg:col-start-3" href="/login"><button type="button" class="w-full py-2.5 px-5 mr-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Login</button></a>
        <a class="w-full" href="/signup"><button type="button" class="w-full py-2.5 px-5 mr-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Signup</button></a>
    </div>
</main>
    

<%- include('partials/footer') -%>